<launch>
    <!-- Changing the frequency changes how often the messesage is sent to the listner  node -->
    <arg name="frequency" default="5"/>


    <!-- This Node handles output for beginner_tutorials -->
    <node
        pkg    = "metis_ros"
        type   = "talker"
        name   = "talker"
        output = "screen"
        args   = "$(arg frequency)"

    />

   <!-- Thise node recieves input messages and outputs them to the screen -->
    <node
        pkg           = "metis_ros"
        type          = "voice_ros.py"
        name          = "voice"
        output        = "screen"
        launch-prefix = "xterm -e"
    />

    <node
        pkg           = "metis_ros"
        type          = "listener"
        name          = "listener"
        output        = "screen"
        launch-prefix = "xterm -e"
    />

    <node 
      pkg="rosbag" 
      type="record" 
      args="-a -O metis.bag" 
      name="rosbag"
      if="$(arg record)"

    />


</launch>
